### Installing all the libraries

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

In [2]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.7.24)
Requirement already satisfied: tqdm in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\muham\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Importing all the packages

In [6]:
from sklearn.model_selection import train_test_split
import nltk
import pandas as pd

In [24]:
data = pd.read_csv("C:\\Users\\muham\\OneDrive\\Desktop\\Spam FIlter\\Data\\spam.csv" , encoding='ISO-8859-10')

In [25]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [27]:
data.shape

(5572, 5)

In [32]:
data = data.drop(columns=['Unnamed: 2' , 'Unnamed: 3' , 'Unnamed: 4'])

In [33]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
data.rename(columns={'v1':'target' , 'v2':'text'} , inplace=True)

In [36]:
data.sample(5)

     target                                               text
1487    ham                    I told your number to gautham..
3376    ham  Yup. Wun believe wat? U really neva c e msg i ...
3312    ham  Huh... Hyde park not in mel ah, opps, got conf...
3299    ham                Just do what ever is easier for you
2485    ham  Lol that's different. I don't go trying to fin...

In [38]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [39]:
data['target'] = encoder.fit_transform(data['target'])

In [40]:
data.sample(5)

      target                                               text
5282       0  I have gone into get info bt dont know what to do
146        1  FreeMsg Why haven't you replied to my text? I'...
4592       0  It's ok i wun b angry. Msg u aft i come home t...
2787       0  Forgot it takes me 3 years to shower, sorry. W...
2100       0    Oh Howda gud gud.. Mathe en samachara chikku:-)

In [41]:
data.isnull().sum()

target    0
text      0
dtype: int64

In [42]:
data.duplicated().sum()

403